* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    background-image: url("../images/Church.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: purple;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo