* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background-image: url("../images/Church.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 109vh;
}