* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    background-image: url("../images/Church.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}

main {
    position: relative;
}

main::before {
    content: "";              
    position: absolute;       
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);  
    z-index: 1; 
}

.navbar {
    width: 100%; 
    height: 75px; 
    margin: auto;
    text-align: center;
    padding: 5px;
    padding-top: 25px;
    position: relative;
    z-index: 2;
}

.logo {
    display: inline-block;
}

.logo img {
    width: 130px; 
    height: auto; 
    margin-top: 2px;
    vertical-align: middle;
    filter: drop-shadow(2px 2px 4px black) brightness(1.2)
}

.name {
    color: white; 
    font-size: 2.5rem; 
    font-family: Arial; 
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
}

.footer {
    background-color: purple;
    color: white;
    text-align: center;
    font-size: 2.0rem;
    font-family: Arial;
    padding: 20px;
}


.bible-verse {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 40px 20px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 500;
    color: #333; 
}

.bible-verse .reference {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: purple;
}

.welcome-message {
    background-color: purple; 
    padding: 40px 20px;
    padding-top: 2px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 500;
    color: white; 
}

.menu {
    text-align: center;
    background-color: white;
    padding: 25px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.menu ul li a {
    display: inline-block;
    padding: 12px 20px;
    background-color: purple;           
    color: white;                        
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;                  
    transition: 0.3s ease;            
}

.menu ul li a:hover {
    background-color: darkmagenta;
    transform: translateY(-2px)
}