* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    background-image: url("../images/Church.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: purple;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.logo img {
    width: 100px;
    height: auto;
    float: left;
    margin-top: 2px;
    margin-left: 5px;
}

.name {
    color: white;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 16px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: purple;
    color: white;
    text-align: left;
    padding-left: 150px;
    padding-top: 15px;
    font-size: 20px;
    font-family: Arial;
    position: absolute;
    bottom: 0;
}