* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    background-image: url("../images/Church.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: purple;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.logo {
    color: black;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}