* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    background: purple white(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(Church.JPG);
    background-position: center;
    background-size: cover;
    height: 109vh;
}