* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    background-image: url("../images/Church.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: purple;
    min-height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.logo img {
    width: 100px;
    height: auto;
    margin-top: 2px;
    margin-left: 5px;
}

.name {
    color: white;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 16px;
}

.footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 20px;
}


.bible-verse {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 40px 20px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 500;
    color: #333; 
}

.bible-verse .reference {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: purple;
}